body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2394px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5652 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:937px;
  width:100px;
  height:60px;
}
#u5652_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:316px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5653 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:937px;
  width:100px;
  height:316px;
}
#u5653_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:96px;
  word-wrap:break-word;
}
#u5654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:173px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5654 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:937px;
  width:100px;
  height:173px;
}
#u5654_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:70px;
  width:96px;
  word-wrap:break-word;
}
#u5655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5655 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:937px;
  width:100px;
  height:60px;
}
#u5655_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5656 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:967px;
  width:0px;
  height:0px;
}
#u5656_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u5656_seg1 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-4px;
  width:8px;
  height:9px;
}
#u5656_seg2 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-3px;
  width:14px;
  height:8px;
}
#u5656_seg3 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-9px;
  width:20px;
  height:20px;
}
#u5656_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5657 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:965px;
  width:0px;
  height:0px;
}
#u5657_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u5657_seg1 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:-4px;
  width:8px;
  height:67px;
}
#u5657_seg2 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:55px;
  width:23px;
  height:8px;
}
#u5657_seg3 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:49px;
  width:20px;
  height:20px;
}
#u5657_text {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5658 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:1024px;
  width:0px;
  height:0px;
}
#u5658_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u5658_seg1 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-61px;
  width:8px;
  height:65px;
}
#u5658_seg2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-61px;
  width:21px;
  height:8px;
}
#u5658_seg3 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-67px;
  width:20px;
  height:20px;
}
#u5658_text {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5659 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:937px;
  width:0px;
  height:0px;
}
#u5659_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-65px;
  width:8px;
  height:65px;
}
#u5659_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-65px;
  width:407px;
  height:8px;
}
#u5659_seg2 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:-65px;
  width:8px;
  height:65px;
}
#u5659_seg3 {
  border-width:0px;
  position:absolute;
  left:389px;
  top:-15px;
  width:20px;
  height:20px;
}
#u5659_text {
  border-width:0px;
  position:absolute;
  left:150px;
  top:-77px;
  width:100px;
  word-wrap:break-word;
}
#u5660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5660 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:1193px;
  width:100px;
  height:60px;
}
#u5660_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u5661 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:1223px;
  width:0px;
  height:0px;
}
#u5661_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u5661_seg1 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5661_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5662 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:1043px;
  width:100px;
  height:60px;
}
#u5662_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u5663 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:1073px;
  width:0px;
  height:0px;
}
#u5663_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:301px;
  height:8px;
}
#u5663_seg1 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:0px;
  width:8px;
  height:4px;
}
#u5663_seg2 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:-15px;
  width:20px;
  height:20px;
}
#u5663_text {
  border-width:0px;
  position:absolute;
  left:98px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1015px;
  height:467px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5665 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:281px;
  width:1015px;
  height:467px;
}
#u5665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5666 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:375px;
  width:100px;
  height:32px;
}
#u5666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u5667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5667 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:375px;
  width:100px;
  height:32px;
}
#u5667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5668 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:391px;
  width:0px;
  height:0px;
}
#u5668_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u5668_seg1 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5668_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5669 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:375px;
  width:100px;
  height:32px;
}
#u5669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5670 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:391px;
  width:0px;
  height:0px;
}
#u5670_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u5670_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5670_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5671 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:531px;
  width:100px;
  height:32px;
}
#u5671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5672 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:375px;
  width:100px;
  height:32px;
}
#u5672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5673 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:407px;
  width:0px;
  height:0px;
}
#u5673_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:128px;
}
#u5673_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:109px;
  width:20px;
  height:20px;
}
#u5673_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:54px;
  width:100px;
  word-wrap:break-word;
}
#u5674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:2px;
}
#u5674 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:426px;
  width:920px;
  height:1px;
}
#u5674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5675 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:332px;
  width:57px;
  height:16px;
}
#u5675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5676 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:391px;
  width:0px;
  height:0px;
}
#u5676_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:397px;
  height:8px;
}
#u5676_seg1 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5676_text {
  border-width:0px;
  position:absolute;
  left:146px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5677 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:481px;
  width:43px;
  height:16px;
}
#u5677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5678 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:296px;
  width:385px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u5679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5679 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:531px;
  width:100px;
  height:32px;
}
#u5679_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5680 {
  border-width:0px;
  position:absolute;
  left:862px;
  top:531px;
  width:100px;
  height:32px;
}
#u5680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5681 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:563px;
  width:0px;
  height:0px;
}
#u5681_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u5681_seg1 {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:14px;
  width:178px;
  height:8px;
}
#u5681_seg2 {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:0px;
  width:8px;
  height:22px;
}
#u5681_seg3 {
  border-width:0px;
  position:absolute;
  left:-180px;
  top:-5px;
  width:20px;
  height:20px;
}
#u5681_text {
  border-width:0px;
  position:absolute;
  left:-135px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u5682 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:547px;
  width:0px;
  height:0px;
}
#u5682_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u5682_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5682_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:52px;
}
#u5683 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:437px;
  width:117px;
  height:52px;
}
#u5683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  word-wrap:break-word;
}
#u5684 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:547px;
  width:0px;
  height:0px;
}
#u5684_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:227px;
  height:8px;
}
#u5684_seg1 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5684_text {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5685 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:531px;
  width:0px;
  height:0px;
}
#u5685_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-42px;
  width:8px;
  height:46px;
}
#u5685_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-47px;
  width:20px;
  height:20px;
}
#u5685_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5686 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:437px;
  width:0px;
  height:0px;
}
#u5686_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-30px;
  width:8px;
  height:34px;
}
#u5686_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-35px;
  width:20px;
  height:20px;
}
#u5686_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5687 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:531px;
  width:100px;
  height:32px;
}
#u5687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5688 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:547px;
  width:0px;
  height:0px;
}
#u5688_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:97px;
  height:8px;
}
#u5688_seg1 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5688_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5689 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:463px;
  width:0px;
  height:0px;
}
#u5689_seg0 {
  border-width:0px;
  position:absolute;
  left:-631px;
  top:-4px;
  width:631px;
  height:8px;
}
#u5689_seg1 {
  border-width:0px;
  position:absolute;
  left:-631px;
  top:-4px;
  width:8px;
  height:72px;
}
#u5689_seg2 {
  border-width:0px;
  position:absolute;
  left:-637px;
  top:53px;
  width:20px;
  height:20px;
}
#u5689_text {
  border-width:0px;
  position:absolute;
  left:-398px;
  top:-16px;
  width:100px;
  word-wrap:break-word;
}
#u5690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:921px;
  height:2px;
}
#u5690 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:618px;
  width:920px;
  height:1px;
}
#u5690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5691 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:646px;
  width:71px;
  height:16px;
}
#u5691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5692 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:646px;
  width:100px;
  height:32px;
}
#u5692_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5693 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:375px;
  width:0px;
  height:0px;
}
#u5693_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-18px;
  width:8px;
  height:18px;
}
#u5693_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-18px;
  width:576px;
  height:8px;
}
#u5693_seg2 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:-18px;
  width:8px;
  height:309px;
}
#u5693_seg3 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:283px;
  width:112px;
  height:8px;
}
#u5693_seg4 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:277px;
  width:20px;
  height:20px;
}
#u5693_text {
  border-width:0px;
  position:absolute;
  left:432px;
  top:-22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5694 {
  border-width:0px;
  position:absolute;
  left:962px;
  top:547px;
  width:0px;
  height:0px;
}
#u5694_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:29px;
  height:8px;
}
#u5694_seg1 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-4px;
  width:8px;
  height:123px;
}
#u5694_seg2 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:111px;
  width:112px;
  height:8px;
}
#u5694_seg3 {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:105px;
  width:20px;
  height:20px;
}
#u5694_text {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:91px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1316px;
  height:557px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5696 {
  border-width:0px;
  position:absolute;
  left:1078px;
  top:281px;
  width:1316px;
  height:557px;
}
#u5696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5697 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:375px;
  width:100px;
  height:32px;
}
#u5697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u5698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5698 {
  border-width:0px;
  position:absolute;
  left:1241px;
  top:375px;
  width:100px;
  height:32px;
}
#u5698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5699 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:391px;
  width:0px;
  height:0px;
}
#u5699_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u5699_seg1 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5699_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5700 {
  border-width:0px;
  position:absolute;
  left:1420px;
  top:375px;
  width:100px;
  height:32px;
}
#u5700_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5701 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:391px;
  width:0px;
  height:0px;
}
#u5701_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u5701_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5701_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5702 {
  border-width:0px;
  position:absolute;
  left:1420px;
  top:551px;
  width:100px;
  height:32px;
}
#u5702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5703 {
  border-width:0px;
  position:absolute;
  left:2252px;
  top:375px;
  width:100px;
  height:32px;
}
#u5703_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5704 {
  border-width:0px;
  position:absolute;
  left:1470px;
  top:407px;
  width:0px;
  height:0px;
}
#u5704_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:148px;
}
#u5704_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:129px;
  width:20px;
  height:20px;
}
#u5704_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:64px;
  width:100px;
  word-wrap:break-word;
}
#u5705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:2px;
}
#u5705 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:426px;
  width:1259px;
  height:1px;
}
#u5705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5706 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:332px;
  width:57px;
  height:16px;
}
#u5706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5707 {
  border-width:0px;
  position:absolute;
  left:1952px;
  top:623px;
  width:100px;
  height:32px;
}
#u5707_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5708 {
  border-width:0px;
  position:absolute;
  left:1520px;
  top:391px;
  width:0px;
  height:0px;
}
#u5708_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:736px;
  height:8px;
}
#u5708_seg1 {
  border-width:0px;
  position:absolute;
  left:717px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5708_text {
  border-width:0px;
  position:absolute;
  left:316px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5709 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:481px;
  width:43px;
  height:16px;
}
#u5709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5710 {
  border-width:0px;
  position:absolute;
  left:1547px;
  top:297px;
  width:409px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  white-space:nowrap;
}
#u5711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5711 {
  border-width:0px;
  position:absolute;
  left:1775px;
  top:551px;
  width:100px;
  height:32px;
}
#u5711_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5712 {
  border-width:0px;
  position:absolute;
  left:1952px;
  top:551px;
  width:100px;
  height:32px;
}
#u5712_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5713 {
  border-width:0px;
  position:absolute;
  left:2252px;
  top:551px;
  width:100px;
  height:32px;
}
#u5713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5714 {
  border-width:0px;
  position:absolute;
  left:2002px;
  top:583px;
  width:0px;
  height:0px;
}
#u5714_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u5714_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u5714_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u5715 {
  border-width:0px;
  position:absolute;
  left:1875px;
  top:567px;
  width:0px;
  height:0px;
}
#u5715_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:81px;
  height:8px;
}
#u5715_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5715_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5716 {
  border-width:0px;
  position:absolute;
  left:1520px;
  top:567px;
  width:0px;
  height:0px;
}
#u5716_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:259px;
  height:8px;
}
#u5716_seg1 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5716_text {
  border-width:0px;
  position:absolute;
  left:78px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5717 {
  border-width:0px;
  position:absolute;
  left:1952px;
  top:639px;
  width:0px;
  height:0px;
}
#u5717_seg0 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-4px;
  width:18px;
  height:8px;
}
#u5717_seg1 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-76px;
  width:8px;
  height:80px;
}
#u5717_seg2 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:-76px;
  width:18px;
  height:8px;
}
#u5717_seg3 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-82px;
  width:20px;
  height:20px;
}
#u5717_text {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-44px;
  width:100px;
  word-wrap:break-word;
}
#u5718 {
  border-width:0px;
  position:absolute;
  left:2052px;
  top:567px;
  width:0px;
  height:0px;
}
#u5718_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:204px;
  height:8px;
}
#u5718_seg1 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5718_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u5719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5719 {
  border-width:0px;
  position:absolute;
  left:2252px;
  top:468px;
  width:100px;
  height:60px;
}
#u5719_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u5720 {
  border-width:0px;
  position:absolute;
  left:2302px;
  top:551px;
  width:0px;
  height:0px;
}
#u5720_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-23px;
  width:8px;
  height:27px;
}
#u5720_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-28px;
  width:20px;
  height:20px;
}
#u5720_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5721 {
  border-width:0px;
  position:absolute;
  left:2302px;
  top:468px;
  width:0px;
  height:0px;
}
#u5721_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-61px;
  width:8px;
  height:65px;
}
#u5721_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-66px;
  width:20px;
  height:20px;
}
#u5721_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-38px;
  width:100px;
  word-wrap:break-word;
}
#u5722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5722 {
  border-width:0px;
  position:absolute;
  left:1241px;
  top:551px;
  width:100px;
  height:32px;
}
#u5722_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5723 {
  border-width:0px;
  position:absolute;
  left:2252px;
  top:498px;
  width:0px;
  height:0px;
}
#u5723_seg0 {
  border-width:0px;
  position:absolute;
  left:-965px;
  top:-4px;
  width:965px;
  height:8px;
}
#u5723_seg1 {
  border-width:0px;
  position:absolute;
  left:-965px;
  top:-4px;
  width:8px;
  height:57px;
}
#u5723_seg2 {
  border-width:0px;
  position:absolute;
  left:-971px;
  top:38px;
  width:20px;
  height:20px;
}
#u5723_text {
  border-width:0px;
  position:absolute;
  left:-557px;
  top:-16px;
  width:100px;
  word-wrap:break-word;
}
#u5724 {
  border-width:0px;
  position:absolute;
  left:1341px;
  top:567px;
  width:0px;
  height:0px;
}
#u5724_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u5724_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5724_text {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1260px;
  height:2px;
}
#u5725 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:680px;
  width:1259px;
  height:1px;
}
#u5725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5726 {
  border-width:0px;
  position:absolute;
  left:2067px;
  top:713px;
  width:100px;
  height:32px;
}
#u5726_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u5727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5727 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:705px;
  width:85px;
  height:16px;
}
#u5727_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5728 {
  border-width:0px;
  position:absolute;
  left:1470px;
  top:375px;
  width:0px;
  height:0px;
}
#u5728_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-18px;
  width:8px;
  height:18px;
}
#u5728_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-18px;
  width:906px;
  height:8px;
}
#u5728_seg2 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:-18px;
  width:8px;
  height:376px;
}
#u5728_seg3 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:350px;
  width:205px;
  height:8px;
}
#u5728_seg4 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:344px;
  width:20px;
  height:20px;
}
#u5728_text {
  border-width:0px;
  position:absolute;
  left:676px;
  top:-22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5729 {
  border-width:0px;
  position:absolute;
  left:2352px;
  top:567px;
  width:0px;
  height:0px;
}
#u5729_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:20px;
  height:8px;
}
#u5729_seg1 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-4px;
  width:8px;
  height:170px;
}
#u5729_seg2 {
  border-width:0px;
  position:absolute;
  left:-185px;
  top:158px;
  width:205px;
  height:8px;
}
#u5729_seg3 {
  border-width:0px;
  position:absolute;
  left:-190px;
  top:152px;
  width:20px;
  height:20px;
}
#u5729_text {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:154px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
