body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1737px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19310 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:62px;
  width:396px;
  height:34px;
}
#u19310_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  background-color:#FFFF00;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u19311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19311 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:71px;
  width:85px;
  height:16px;
}
#u19311_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19312 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:62px;
  width:396px;
  height:34px;
}
#u19312_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  background-color:#FFFF00;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u19313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19313 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:71px;
  width:43px;
  height:16px;
}
#u19313_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19314 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:171px;
  width:396px;
  height:34px;
}
#u19314_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u19315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:36px;
  background:inherit;
  background-color:rgba(15, 113, 195, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u19315 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:1501px;
  width:241px;
  height:36px;
  font-size:16px;
}
#u19315_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:237px;
  word-wrap:break-word;
}
#u19316_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19316 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:124px;
  width:71px;
  height:16px;
}
#u19316_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19317 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:226px;
  width:396px;
  height:34px;
}
#u19317_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  background-color:#FFFF00;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u19318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19318 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:235px;
  width:85px;
  height:16px;
}
#u19318_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19319 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:290px;
  width:85px;
  height:16px;
}
#u19319_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19320_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19320 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:1137px;
  width:43px;
  height:16px;
}
#u19320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19322 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:1137px;
  width:51px;
  height:16px;
}
#u19322_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u19322_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19323 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:1137px;
  width:51px;
  height:16px;
}
#u19323_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u19323_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19324 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:281px;
  width:396px;
  height:34px;
}
#u19324_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  background-color:#FFFF00;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u19325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1737px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1737px;
  height:38px;
}
#u19325_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19326 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:11px;
  width:71px;
  height:16px;
}
#u19326_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19327_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
}
#u19327 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:7px;
  width:70px;
  height:25px;
  color:#FFFFFF;
}
#u19327_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u19328 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:115px;
  width:396px;
  height:34px;
}
#u19328_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19328_input:disabled {
  color:grayText;
}
#u19329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19329 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:124px;
  width:85px;
  height:16px;
}
#u19329_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19330 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:115px;
  width:396px;
  height:34px;
}
#u19330_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19330_input:disabled {
  color:grayText;
}
#u19331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19331 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:180px;
  width:71px;
  height:16px;
}
#u19331_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19332 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:171px;
  width:396px;
  height:34px;
}
#u19332_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  background-color:#FFFF00;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u19333_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19333 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:180px;
  width:71px;
  height:16px;
}
#u19333_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19334 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:226px;
  width:396px;
  height:34px;
}
#u19334_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  background-color:#FFFF00;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u19335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19335 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:235px;
  width:71px;
  height:16px;
}
#u19335_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19336 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:281px;
  width:396px;
  height:34px;
}
#u19336_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  background-color:#FFFF00;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u19337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19337 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:290px;
  width:113px;
  height:16px;
}
#u19337_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u19338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19338 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:344px;
  width:71px;
  height:16px;
}
#u19338_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19339 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:335px;
  width:396px;
  height:34px;
}
#u19339_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  background-color:#FFFF00;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u19340 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:335px;
  width:396px;
  height:34px;
}
#u19340_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  background-color:#FFFF00;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u19341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19341 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:344px;
  width:71px;
  height:16px;
}
#u19341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19342 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:390px;
  width:396px;
  height:34px;
}
#u19342_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u19343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19343 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:399px;
  width:71px;
  height:16px;
}
#u19343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19344 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:390px;
  width:396px;
  height:34px;
}
#u19344_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u19345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19345 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:399px;
  width:57px;
  height:16px;
}
#u19345_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19346 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:445px;
  width:396px;
  height:34px;
}
#u19346_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u19347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19347 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:454px;
  width:57px;
  height:16px;
}
#u19347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19348 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:445px;
  width:396px;
  height:34px;
}
#u19348_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u19349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19349 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:454px;
  width:71px;
  height:16px;
}
#u19349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19350 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:499px;
  width:396px;
  height:34px;
}
#u19350_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u19351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19351 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:508px;
  width:71px;
  height:16px;
}
#u19351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19352 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:499px;
  width:396px;
  height:34px;
}
#u19352_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u19353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19353 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:508px;
  width:71px;
  height:16px;
}
#u19353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19354 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:554px;
  width:396px;
  height:34px;
}
#u19354_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u19355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19355 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:563px;
  width:71px;
  height:16px;
}
#u19355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19356 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:563px;
  width:71px;
  height:16px;
}
#u19356_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19357 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:554px;
  width:396px;
  height:34px;
}
#u19357_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19357_input:disabled {
  color:grayText;
}
#u19358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19358 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:613px;
  width:37px;
  height:16px;
}
#u19358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19359 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:604px;
  width:396px;
  height:34px;
}
#u19359_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  background-color:#FFFF00;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u19360 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:609px;
  width:396px;
  height:34px;
}
#u19360_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  background-color:#FFFF00;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u19361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19361 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:613px;
  width:43px;
  height:16px;
}
#u19361_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19362 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:668px;
  width:71px;
  height:16px;
}
#u19362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19363 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:659px;
  width:396px;
  height:34px;
}
#u19363_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  background-color:#FFFF00;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u19364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19364 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:668px;
  width:71px;
  height:16px;
}
#u19364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19365 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:663px;
  width:396px;
  height:34px;
}
#u19365_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19365_input:disabled {
  color:grayText;
}
#u19366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19366 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:727px;
  width:71px;
  height:16px;
}
#u19366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19367 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:718px;
  width:396px;
  height:34px;
}
#u19367_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19367_input:disabled {
  color:grayText;
}
#u19368 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:718px;
  width:396px;
  height:34px;
}
#u19368_input {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
}
#u19369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19369 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:727px;
  width:71px;
  height:16px;
}
#u19369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19370 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:771px;
  width:71px;
  height:16px;
}
#u19370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19371 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:771px;
  width:218px;
  height:146px;
}
#u19371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u19372 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:1096px;
  width:333px;
  height:19px;
  font-size:16px;
}
#u19372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  white-space:nowrap;
}
#u19373 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:1211px;
  width:930px;
  height:250px;
}
#u19373_input {
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:250px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:930px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19374 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:1174px;
  width:930px;
  height:39px;
}
#u19374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:21px;
}
#u19375 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:1184px;
  width:604px;
  height:21px;
}
#u19375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19376 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:1567px;
  width:930px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19377 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:771px;
  width:218px;
  height:146px;
}
#u19377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19378 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:771px;
  width:218px;
  height:146px;
}
#u19378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19379 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:819px;
  width:50px;
  height:50px;
}
#u19379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19380 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:771px;
  width:218px;
  height:146px;
}
#u19380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19381 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:927px;
  width:218px;
  height:146px;
}
#u19381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19382 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:927px;
  width:218px;
  height:146px;
}
#u19382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19383 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:975px;
  width:50px;
  height:50px;
}
#u19383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:121px;
}
#u19384 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:784px;
  width:182px;
  height:121px;
}
#u19384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:121px;
}
#u19385 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:784px;
  width:182px;
  height:121px;
}
#u19385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:132px;
}
#u19386 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:778px;
  width:90px;
  height:132px;
}
#u19386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:121px;
}
#u19387 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:784px;
  width:182px;
  height:121px;
}
#u19387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:137px;
}
#u19388 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:932px;
  width:94px;
  height:137px;
}
#u19388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19390 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:927px;
  width:30px;
  height:30px;
}
#u19390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:2px;
}
#u19392 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:942px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u19392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:2px;
}
#u19393 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:942px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19395 {
  border-width:0px;
  position:absolute;
  left:637px;
  top:771px;
  width:30px;
  height:30px;
}
#u19395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:2px;
}
#u19397 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:786px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u19397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:2px;
}
#u19398 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:786px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19400 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:771px;
  width:30px;
  height:30px;
}
#u19400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:2px;
}
#u19402 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:786px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u19402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:2px;
}
#u19403 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:786px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19403_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19405 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:771px;
  width:30px;
  height:30px;
}
#u19405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:2px;
}
#u19407 {
  border-width:0px;
  position:absolute;
  left:1115px;
  top:786px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u19407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:2px;
}
#u19408 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:786px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19410 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:771px;
  width:30px;
  height:30px;
}
#u19410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:2px;
}
#u19412 {
  border-width:0px;
  position:absolute;
  left:1352px;
  top:786px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u19412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:2px;
}
#u19413 {
  border-width:0px;
  position:absolute;
  left:1351px;
  top:786px;
  width:24px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u19413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19414 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:927px;
  width:218px;
  height:146px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19415 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:771px;
  width:218px;
  height:146px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19416 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:771px;
  width:218px;
  height:146px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19417 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:771px;
  width:218px;
  height:146px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19418 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:771px;
  width:218px;
  height:146px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
