body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1146px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19503 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:96px;
  width:132px;
  height:45px;
}
#u19503_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  word-wrap:break-word;
}
#u19504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19504 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:260px;
  width:132px;
  height:45px;
}
#u19504_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  word-wrap:break-word;
}
#u19505 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:141px;
  width:0px;
  height:0px;
}
#u19505_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:123px;
}
#u19505_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:104px;
  width:20px;
  height:20px;
}
#u19505_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  word-wrap:break-word;
}
#u19506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19506 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:401px;
  width:132px;
  height:45px;
}
#u19506_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  word-wrap:break-word;
}
#u19507 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:305px;
  width:0px;
  height:0px;
}
#u19507_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:100px;
}
#u19507_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:81px;
  width:20px;
  height:20px;
}
#u19507_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  word-wrap:break-word;
}
#u19508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19508 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:401px;
  width:132px;
  height:45px;
}
#u19508_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  word-wrap:break-word;
}
#u19509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:84px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19509 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:529px;
  width:132px;
  height:84px;
}
#u19509_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:128px;
  word-wrap:break-word;
}
#u19510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:46px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19510 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:654px;
  width:132px;
  height:46px;
}
#u19510_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:128px;
  word-wrap:break-word;
}
#u19511 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:424px;
  width:0px;
  height:0px;
}
#u19511_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:125px;
  height:8px;
}
#u19511_seg1 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:-10px;
  width:20px;
  height:20px;
}
#u19511_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19512 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:446px;
  width:0px;
  height:0px;
}
#u19512_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:87px;
}
#u19512_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:68px;
  width:20px;
  height:20px;
}
#u19512_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19513 {
  border-width:0px;
  position:absolute;
  left:872px;
  top:613px;
  width:0px;
  height:0px;
}
#u19513_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u19513_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:26px;
  width:20px;
  height:20px;
}
#u19513_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19514 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:677px;
  width:0px;
  height:0px;
}
#u19514_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:169px;
  height:8px;
}
#u19514_seg1 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:-562px;
  width:8px;
  height:566px;
}
#u19514_seg2 {
  border-width:0px;
  position:absolute;
  left:-253px;
  top:-562px;
  width:422px;
  height:8px;
}
#u19514_seg3 {
  border-width:0px;
  position:absolute;
  left:-258px;
  top:-568px;
  width:20px;
  height:20px;
}
#u19514_text {
  border-width:0px;
  position:absolute;
  left:115px;
  top:-414px;
  width:100px;
  word-wrap:break-word;
}
#u19515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19515 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:182px;
  width:132px;
  height:45px;
}
#u19515_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  word-wrap:break-word;
}
#u19516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19516 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:182px;
  width:132px;
  height:45px;
}
#u19516_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  word-wrap:break-word;
}
#u19517 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:119px;
  width:0px;
  height:0px;
}
#u19517_seg0 {
  border-width:0px;
  position:absolute;
  left:-383px;
  top:-4px;
  width:383px;
  height:8px;
}
#u19517_seg1 {
  border-width:0px;
  position:absolute;
  left:-383px;
  top:-4px;
  width:8px;
  height:67px;
}
#u19517_seg2 {
  border-width:0px;
  position:absolute;
  left:-389px;
  top:48px;
  width:20px;
  height:20px;
}
#u19517_text {
  border-width:0px;
  position:absolute;
  left:-271px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19518 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:119px;
  width:0px;
  height:0px;
}
#u19518_seg0 {
  border-width:0px;
  position:absolute;
  left:-161px;
  top:-4px;
  width:161px;
  height:8px;
}
#u19518_seg1 {
  border-width:0px;
  position:absolute;
  left:-161px;
  top:-4px;
  width:8px;
  height:67px;
}
#u19518_seg2 {
  border-width:0px;
  position:absolute;
  left:-167px;
  top:48px;
  width:20px;
  height:20px;
}
#u19518_text {
  border-width:0px;
  position:absolute;
  left:-160px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19519 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:260px;
  width:132px;
  height:45px;
}
#u19519_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:128px;
  word-wrap:break-word;
}
#u19520 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:227px;
  width:0px;
  height:0px;
}
#u19520_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u19520_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:20px;
}
#u19520_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19521 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:401px;
  width:132px;
  height:45px;
}
#u19521_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  word-wrap:break-word;
}
#u19522 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:305px;
  width:0px;
  height:0px;
}
#u19522_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:100px;
}
#u19522_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:81px;
  width:20px;
  height:20px;
}
#u19522_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19523 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:654px;
  width:132px;
  height:45px;
}
#u19523_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  word-wrap:break-word;
}
#u19524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19524 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:518px;
  width:132px;
  height:45px;
}
#u19524_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:128px;
  word-wrap:break-word;
}
#u19525 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:96px;
  width:0px;
  height:0px;
}
#u19525_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-44px;
  width:8px;
  height:44px;
}
#u19525_seg1 {
  border-width:0px;
  position:absolute;
  left:-583px;
  top:-44px;
  width:587px;
  height:8px;
}
#u19525_seg2 {
  border-width:0px;
  position:absolute;
  left:-583px;
  top:-44px;
  width:8px;
  height:493px;
}
#u19525_seg3 {
  border-width:0px;
  position:absolute;
  left:-583px;
  top:441px;
  width:72px;
  height:8px;
}
#u19525_seg4 {
  border-width:0px;
  position:absolute;
  left:-526px;
  top:435px;
  width:20px;
  height:20px;
}
#u19525_text {
  border-width:0px;
  position:absolute;
  left:-596px;
  top:-48px;
  width:100px;
  word-wrap:break-word;
}
#u19526 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:446px;
  width:0px;
  height:0px;
}
#u19526_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:76px;
}
#u19526_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:57px;
  width:20px;
  height:20px;
}
#u19526_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19527 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:563px;
  width:0px;
  height:0px;
}
#u19527_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:95px;
}
#u19527_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:76px;
  width:20px;
  height:20px;
}
#u19527_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  word-wrap:break-word;
}
#u19528 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:283px;
  width:0px;
  height:0px;
}
#u19528_seg0 {
  border-width:0px;
  position:absolute;
  left:-313px;
  top:-4px;
  width:317px;
  height:8px;
}
#u19528_seg1 {
  border-width:0px;
  position:absolute;
  left:-318px;
  top:-10px;
  width:20px;
  height:20px;
}
#u19528_text {
  border-width:0px;
  position:absolute;
  left:-206px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
